.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #5D3FD3;
    color: #fff;
    text-decoration: none;
    font-size: 20px;;
    border-radius: 4px;
    font-family: Arial, sans-serif;
}

.back-button:hover {
    background-color: #4C2BBB;
}
  
.back-button:active {
    background-color: #3A1F99;
}

body {
    background-image: url('https://i.pinimg.com/564x/01/03/21/010321446051fb8a97b258436c7f0e8f.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    text-align: center;
    font-size: 25px;
    padding: 10px;
    text-shadow: 2px 2px 4px #5D3FD3;
}

.header h1 {
    color: #FFB74D; 
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #8D6CE9; 
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid orange;
    color: #FFB74D; 
}
